/**
Styles applied for the title page only
*/

// Height of the white part of the polygon on the screen
@lg-half-triangle-height: 23vh;

// Height of the triangle on small screens
@sm-full-triangle-height: 20vh;

// Real height of the polygon inside the svg
// Need to correspond with the html file
@svg-triangle-height: 0.73;

// Because of https://stackoverflow.com/questions/43180480/inline-svg-border-bug
// The polygon is not a triangle, but a triangle with a rectangle with this height
@svg-rectangle-height: 0.02;

.title-page {
    /**
     * Red triangles
     */
    .tpl-triangle-top, .tpl-triangle-bottom {
        border-style: none;
        height: @sm-full-triangle-height/@svg-triangle-height;
        width: 100%;
        display: initial;
        position: relative;
    }

    .tpl-triangle-bottom {
        fill: @pane-color-background;
        margin-bottom: -@sm-full-triangle-height/@svg-triangle-height*@svg-rectangle-height;
    }

    .tpl-triangle-top {
        fill: @pane-color-foreground;
        shape-outside: polygon(0 0, 0 100%*(1 - @svg-rectangle-height - @svg-triangle-height)/(1 - @svg-rectangle-height), 100% 100%, 100% 0); /* Magic which corresponds with the real height of triangle */
        margin-top: -@sm-full-triangle-height/@svg-triangle-height*@svg-rectangle-height;
        float: right;
    }

    header {
        z-index: 3;
        overflow: hidden;
        background: @pane-color-background;
    }

    .tpl-triangle-top {
        z-index: 2;
    }

    .inner-container {
        z-index: 1;
    }

    .tpl-triangle-bottom {
        z-index: 2;
    }

    footer {
        z-index: 3;
        position: relative;
    }

    header {

        object {
            height: auto;
            width: 150% !important; /* comes from the graphic designer, need to overwrite non title-page bahaviour */
            transform: translateY(15%) !important; /* comes from the graphic designer */
        }

        svg.header-background {
            width: 100%;
            height: auto;
        }

        .header-inner {
            text-align: center;
            background: @pane-color-foreground;

            padding-top: 2rem;

            .tpl-countdown {
                margin: 0 5%;
                .time {
                    font-size: 10vw;
                    font-weight: bold;
                    line-height: 1em;
                }
                .note {
                    font-size: 3vw;
                }
            }

            .btn {
                margin: 2rem auto .5rem auto;
                background: white;
                color: @pane-color-background;
                border: none;
                padding: .5em 2em;
                font-weight: bold;
                font-size: 5vw;
            }
        }

        @media (min-width: 992px) {
            height: 100vh- @lg-half-triangle-height;

            .header-inner {
                position: absolute;
                width: 100%;
                bottom: 0;
                background: none;

                .tpl-countdown {
                    position: relative;
                    margin: 0 auto 10vh auto;
                    max-width: 66rem;
                    text-align: center;
                    .time {
                        font-size: 8rem;
                    }
                    .note {
                        font-size: 2.5rem;
                    }
                }

                .btn {
                    font-size: 2rem;
                    margin: 2rem auto;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .tpl-triangle-top, .tpl-triangle-bottom {
            height: @lg-half-triangle-height*2/@svg-triangle-height;
        }

        .tpl-triangle-top {
            margin-top: -@lg-half-triangle-height*2/@svg-triangle-height*@svg-rectangle-height;
        }

        .tpl-triangle-bottom {
            margin-bottom: -@lg-half-triangle-height*2/@svg-triangle-height*@svg-rectangle-height;
        }
    }
}
