/**
 * Styles for blocks on the title page.
 */
.title-page {
    counter-reset: blockcounter;

    .secedit {
        display: none;
    }

    article {
        font-size: 1em;

        h2 {
            color: @pane-color-background;
            font-size: 4.5em;
            font-weight: 700;
        }

        @media (min-width: @mobile-width) {
            font-size: 1.7em;

            h2 {
                font-size: 4.5em;
                clear: both;
	    	margin-top: 2rem;
            }

	    .level2 {
		margin-top: 2rem;
            }

            h2:nth-of-type(odd) {
                float: left;
                width: 50%;
	        text-align: right;
	        padding-right: 1rem;
            }

            h2:nth-of-type(even) {
                float: right;
                width: 50%;
	        text-align: left;
	        padding-left: 1rem;
            }


            h2:nth-of-type(odd) + .level2 {
                float: right;
                width: 50%;
		border-left: 1px solid red;
	        text-align: left;
	        padding-left: 1rem;

		position: relative;
		left: -1px; /* ocd */
            }

            h2:nth-of-type(even) + .level2 {
                float: left;
                width: 50%;
		border-right: 1px solid red;
	        text-align: right;
	        padding-right: 1rem;
            }
        }
    }
}
